# coding: utf-8
# ruff: noqa: E501
{% include 'header.jinja2' %}

{%- set service_name = service_name %}
{%- set version = version %}
{%- set api_name = api_name %}
{%- set async_mode = async_mode %}

from typing import Any
from httpx import Response
{% if async_mode %}
from restcodegen.restclient import AsyncClient
{% else %}
from restcodegen.restclient import Client
{% endif %}
{% if models %}
from clients.http.{{ service_name|to_snake_case }}.models.api_models import (
    {% for model in models %}
    {{ model|to_class_name }},
    {% endfor %}
)
{% endif %}


class {{ api_name|to_pascal_case }}Api:

    def __init__(self, api_client: {% if async_mode %}AsyncClient{% else %}Client{% endif %}) -> None:
        self.api_client = api_client

    {%- for data in data_list %}
    {%- set method = data.method %}
    {%- set path = data.path %}
    {%- set request_body = data.request_body %}
    {%- set summary = data.summary %}
    {%- set responses = data.responses|default({}) %}
    {%- set success_response = responses.get('200', None) or responses.get('201', None) %}
    {%- set query_parameters = data.query_parameters|default(None) %}
    {%- set path_parameters = data.path_parameters|default(None) %}
    {%- set headers = data.headers|default(None) %}
    {%- if headers %}
    {%- set headers = headers|sort(attribute='required', reverse=True) %}
    {%- endif %}
    {%- set content_type = data.content_type|default('application/json') %}
    {%- set form_data_parameters = data.form_data_parameters|default(None) %}
    {%- set request_body_param_name = request_body|to_param_name if request_body else None %}

    {% if async_mode %}async {% endif %}def {{ method }}_{{ path|to_snake_case }}(
        self,
        {%- set all_params = [] %}
        {%- if content_type == 'multipart/form-data' and form_data_parameters %}
        {%- for form_param in form_data_parameters %}
        {%- set _ = all_params.append({'type': 'form', 'param': form_param}) %}
        {%- endfor %}
        {%- elif request_body %}
        {%- set _ = all_params.append({'type': 'body', 'param': {'name': request_body_param_name, 'type': request_body|to_class_name, 'required': true}}) %}
        {%- endif %}
        {%- if path_parameters %}
        {%- for path_param in path_parameters %}
        {%- set _ = all_params.append({'type': 'path', 'param': path_param}) %}
        {%- endfor %}
        {%- endif %}
        {%- if query_parameters %}
        {%- for query_param in query_parameters %}
        {%- set _ = all_params.append({'type': 'query', 'param': query_param}) %}
        {%- endfor %}
        {%- endif %}
        {%- if headers %}
        {%- for header in headers %}
        {%- set _ = all_params.append({'type': 'header', 'param': header}) %}
        {%- endfor %}
        {%- endif %}
        {%- for param_data in all_params|sort(attribute='param.required', reverse=True) %}
        {%- set param = param_data.param %}
        {%- if param_data.type == 'body' %}
        {{ param.name }}: {{ param.type }},
        {%- else %}
        {{ param.name|to_param_name }}: {% if not param.required %}{{ param.type|to_type_annotation }} | None = None{% elif param.type == 'str' and not param.required %} = ""{% else %}{{ param.type|to_type_annotation }}{% endif %},
        {%- endif %}
        {%- endfor %}
        **kwargs: Any,
    ) -> {{ success_response|to_type_annotation if success_response else 'Response' }}:
        """
        {{ summary.strip() | wordwrap(width=120) if summary else 'No summary description' }}.

        Args:
            {%- for param_data in all_params %}
            {%- set param = param_data.param %}
            {%- if param_data.type == 'body' %}
            {{ param.name }}({{ param.type }}): ...
            {%- else %}
            {{ param.name|to_param_name }}({{ param.type|to_type_annotation }}{% if param.required%}, required{% else %}, optional{% endif %}): {{ param.description | wordwrap(break_long_words=false, wrapstring="\n                    ") if param.description else '...' }}
            {%- endif %}
            {%- endfor %}
            **kwargs: аргументы поддерживаемые библиотекой httpx (data, files, headers и т.п.)

        Returns:
            {{ success_response|to_type_annotation if success_response else 'None' }}: ...
        """  # noqa: D205,E501

        response = {%- if async_mode %}await {% endif %}self.{{ method }}_{{ path|to_snake_case }}_with_http_info(
            {%- for param_data in all_params %}
            {%- set param = param_data.param %}
            {%- if param_data.type == 'body' %}
            {{ param.name }}={{ param.name }},
            {%- else %}
            {{ param.name|to_param_name }}={{ param.name|to_param_name }},
            {%- endif %}
            {%- endfor %}
            **kwargs,
        )
        {%- if success_response %}
        return {{ success_response|to_class_name }}.model_validate_json(response.text)
        {%- else %}
        return response
        {%- endif %}


    {% if async_mode %}async {% endif %}def {{ method }}_{{ path|to_snake_case }}_with_http_info(
        self,
        {%- set all_params = [] %}
        {%- if content_type == 'multipart/form-data' and form_data_parameters %}
        {%- for form_param in form_data_parameters %}
        {%- set _ = all_params.append({'type': 'form', 'param': form_param}) %}
        {%- endfor %}
        {%- elif request_body %}
        {%- set _ = all_params.append({'type': 'body', 'param': {'name': request_body_param_name, 'type': request_body|to_class_name, 'required': true}}) %}
        {%- endif %}
        {%- if path_parameters %}
        {%- for path_param in path_parameters %}
        {%- set _ = all_params.append({'type': 'path', 'param': path_param}) %}
        {%- endfor %}
        {%- endif %}
        {%- if query_parameters %}
        {%- for query_param in query_parameters %}
        {%- set _ = all_params.append({'type': 'query', 'param': query_param}) %}
        {%- endfor %}
        {%- endif %}
        {%- if headers %}
        {%- for header in headers %}
        {%- set _ = all_params.append({'type': 'header', 'param': header}) %}
        {%- endfor %}
        {%- endif %}
        {%- for param_data in all_params|sort(attribute='param.required', reverse=True) %}
        {%- set param = param_data.param %}
        {%- if param_data.type == 'body' %}
        {{ param.name }}: {{ param.type }},
        {%- else %}
        {{ param.name|to_param_name }}: {% if not param.required %}{{ param.type|to_type_annotation }} | None = None{% elif param.type == 'str' and not param.required %} = ""{% else %}{{ param.type|to_type_annotation }}{% endif %},
        {%- endif %}
        {%- endfor %}
        **kwargs: Any,
    ) -> Response:
        """
        {{ summary.strip() | wordwrap(width=120) if summary else 'No summary description' }}.

        Args:
            {%- for param_data in all_params %}
            {%- set param = param_data.param %}
            {%- if param_data.type == 'body' %}
            {{ param.name }}({{ param.type }}): ...
            {%- else %}
            {{ param.name|to_param_name }}({{ param.type|to_type_annotation }}{% if param.required%}, required{% else %}, optional{% endif %}): {{ param.description | wordwrap(break_long_words=false, wrapstring="\n                    ") if param.description else '...' }}
            {%- endif %}
            {%- endfor %}
            **kwargs: аргументы поддерживаемые библиотекой httpx (data, files, headers и т.п.)

        Returns:
            Response: ...
        """  # noqa: D205,E501
        {%- if query_parameters %}
        # process the query parameters
        params_map = {
            {%- for query_param in query_parameters %}
            "{{ query_param.name }}": {{ query_param.name|to_param_name }},
            {%- endfor %}
            }
        params = {k: v for k, v in params_map.items() if v is not None}
        {%- endif %}

        {%- if headers %}
        # process the header parameters
        headers_map = {
            {%- for header in headers %}
            "{{ header.name }}": str({{ header.name|to_param_name }}),
            {%- endfor %}
        }
        headers = {k: str(v) for k, v in headers_map.items() if v is not None}

        headers_from_kwargs = kwargs.pop("headers", {})
        if headers_from_kwargs:
            headers.update(headers_from_kwargs)
        {%- else %}
        headers = kwargs.pop("headers", {})
        {%- endif %}

        {% if content_type == 'multipart/form-data' and form_data_parameters %}
        data = {
        {% for form_param in form_data_parameters %}
            {%- if not form_param.type == 'file' -%}
            "{{ form_param.name }}": {{ form_param.name|to_param_name }},
            {%- endif %}
        {% endfor %}
        }
        data = {k: v for k, v in data[:].items() if v is not None}

        {% elif content_type != 'multipart/form-data' and form_data_parameters %}
        files = {
        {% for form_param in form_data_parameters %}
            {%- if form_param.type == 'file' -%}
            "{{ form_param.name }}": {{ form_param.name|to_param_name }},
            {%- endif %}
        {% endfor %}
        }
        files = {k: v for k, v in files[:].items() if v is not None}

        {%- elif request_body %}
        data = {{ request_body_param_name }}.model_dump_json(exclude_none=True, by_alias=True) # noqa: E501
        headers.update({"Content-Type": "application/json"})
        {%- endif %}

        response = {% if async_mode %}await {% endif %}self.api_client.{{ method }}(
            {%- if path %}
            url=f"{{ path }}",
            {%- endif %}
            {%- if content_type == 'multipart/form-data' and form_data_parameters %}
            data=data,
            {%- elif content_type != 'multipart/form-data' and form_data_parameters %}
            files=files,
            {%- elif request_body %}
            data=data,
            {%- endif %}
            {%- if query_parameters %}
            params=params,
            {%- endif %}
            headers=headers,
            **kwargs,
        )
        return response
        {%- endfor %}
